.btn-orange{
	color: var(--bg-white);
	background-color: var(--bg-orange);
	outline: none;
	font-size: 1rem;
	font-family: 'Poppins', sans-serif;
	font-weight: 400;
}

.btn-orange:hover{
    color: var(--bg-white);
	background-color: var(--bg-orange-hover);
}