@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800;900&display=swap');

@import './navbar.css';
@import './buttons.css';
@import './background.css';
@import './inputs.css';

/*Configurações de cores*/
:root{
	--bg-orange: #F46A05;
	--bg-orange-hover: #D85F08;
	--bg-black: #000000;
	--bg-white: #FFFFFF;
	--bg-marron-1: #757575;
	--bg-marron-2: #F4F4F4;
	--bg-yellow: #FCB705;
	--bg-roxo: #E9008C;
}

html, body {
	font-size: 16px;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
	width: 100%;
	height: 100%;
}